/* Importo bootstrap*/
@import "~bootstrap/scss/bootstrap.scss";

/* Webfonts fontawesome */
$fa-font-path: "./webfonts";

/* Importo fontawesome */
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

/*Importo hover*/
@import "~hover.css/css/hover-min.css";

/* Importo le variabili */
@import "./vars.scss";

/* Debug */
.debug {
  border: 1px solid black;
}
body{
  min-width: 1500px;
}
