/* Color cube */
$white: #ffff;
$cinder: #171520;
$delta: #b1b1b0;
$texas-rose: #febc4d;
$storm-dust: #6c6c6b;
$mountain-meadow: #1fad95;
$hawaian-tan: #9f5d13;
$atlantis: #94ca2b;
$catalina-blue: #08427d;

/* Median cut */
$shark: #22272d;
$quil-gray: #e2e2e0;
$spicy-mix: #825c3f;
$gunsmoke: #8a9391;
$driftwood: #b08d52;

/* Material design */
$potters-clay: #7f5838;
$lemon-grass: #8c8d8a;
$jungle-green: #2fab97;
$vulcan: #141423;
$casablanca: #f8b54e;
